*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
bower_components
typings
npm-debug.log
bower.json

# ignore files javascript
client/bundle.min.js
client/bundle.lib.min.js
